body{
    
    box-sizing: border-box;
    width: 80%;
    margin: auto;
}

nav {
    border: 2px solid #000000;
    background-color: #9977b9;
    width: 100%;
    height: auto;
    margin: auto;
}

p{ /*seletor*/
    color: blue; /* propriedade: valor */
}

table {
    border:1px solid #EEEEEE;
    background-color: #e97171;
       }

th, td{
    border: 1px solid #EEEEEE;    
}

img{
    width: 30%;
    display: block;
    padding: 10px;
    margin: 20px;
    border: 5px solid #000;
    border-radius: 20px;
}

a{
    border: 5px solid #000;
    width: 50%;
    height: 10vh;
    display: block;    
}
nav ul li{
    list-style-type: none;
}